---
import AcademicBackground from "@components/AcademicBackground.astro";
import Experience from "@components/Experience.astro";
import Hero from "@components/Hero.astro";
import Skills from "@components/Skills.astro";
import Summary from "@components/Summary.astro";
import Resume from "@layouts/Resume.astro";
---

<Resume title="My Resume">
  <main class="container-grid cv">
    <Hero />
    <Summary />
    <Experience />
    <AcademicBackground />
    <Skills />
  </main>
</Resume>

<style is:global>
  .container-grid {
    --padding-inline: 1rem;
    --content-max-width: 816px;
    --breakout-size: calc(100vw - var(--content-max-width) / 2);

    display: grid;
    gap: 2.25rem 0;
    grid-template-columns:
      minmax(var(--padding-inline), var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(var(--padding-inline), var(--breakout-size));
  }

  .container-grid > section {
    grid-column: content;
  }

  .cv {
    padding: 2.25rem 0;
  }

  @media print {
    .cv {
      padding: 1.2rem 0;
    }
    .container-grid {
      gap: 1.4rem 0;
    }
  }
</style>
