---
import Section from "./common/Section.astro";
import { education } from "@cv";

const { institution, area, studyType, endDate } = education[0];
---

<Section title="Academic Background">
  <h3>{`${area}, ${studyType}`}</h3>
  <h4>{institution}</h4>
  <p>{endDate}</p>
</Section>
