---
import Section from "@components/common/Section.astro";
import { work } from "@cv";
import List from "@components/common/List.astro";
---

<Section title="Work Experience">
  <List type="WorkExperience" items={work} />
</Section>

