---
import Section from "@components/common/Section.astro";
import WorkExperience from "@components/WorkExperience.astro";
import { work } from "@cv";
---

<Section title="Work Experience">
  <ul class="experiences-list">
    {
      work.map((experience) => (
        <li class="experience">
          <WorkExperience {...experience} />
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .experiences-list {
    display: flex;
    flex-direction: column;
    gap: .85rem;
  }
</style>
