---
import Section from "@components/common/Section.astro";
import List from "@components/common/List.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <List type="Skill" items={skills} />
</Section>
