---
import Section from "@components/common/Section.astro";
import Skill from "@components/Skill.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <ul class="skills-list">
    {skills.map(({name}) => <li><Skill name={name} /></li>)}
  </ul>
</Section>

<style>
  .skills-list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5rem;
  }
</style>
