---
const { area, studyType, endDate, institution } = Astro.props;
---

<article class="study">
  <header class="study-information">
    <h3 class="study-name">{`${area}, ${studyType}`}</h3>
    <time class="study-date">{endDate}</time>
  </header>
  <p class="study-institution">{institution}</p>
</article>

<style>
  .study-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.325rem;
  }

  .study-name {
    margin-bottom: 0.125rem;
  }

  .study-institution,
  .study-date {
    color: hsl(var(--grey-three));
  }

  @media print {
    .study-information {
      margin-bottom: 0;
    }

    .study-name {
      font-weight: 500;
    }
  }
</style>
