---
const { title, direction= "column", justify= "flex-start" } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style define:vars={{ direction, justify }}>
  section {
    display: flex;
    flex-direction: var(--direction);
    justify-content: var(--justify);

  }
  h2 {
    color: hsl(var(--grey-five));
    font-size: 1.5rem;
    line-height: 1.5;
  }

</style>
